.marquee {
	position: relative;
	border: 2px solid #626060;
	box-sizing: border-box;
}

.marquee,
.marquee .static-text {
	padding: 10px;
	background-color: #fff;
	color: #626060;
	font-weight: bold;
}

.marquee .static-text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.marquee marquee {
	line-height: 1.6;
}

.marquee marquee p {
	margin-right: 10px;
	display: inline;
}