{% load static %}
<div class="navbar border-bottom">
    <div class="col-1">
        <a href="{% url "homepage:home" %}">
            <img src="{% static 'favicon/apple-touch-icon.png' %}" alt="" style="width: 64px; height: 64px;">
        </a>
    </div>
    <div class="col-8"></div>
    <div class="col-1 text-center nav-item">
        <a class="nav-link fs-5 {% if request.path == "/" %} text-decoration-underline active {% endif %}" href=
                "{% url "homepage:home" %}">Главная</a>
    </div>
    <div class="col-1 text-center nav-item">
        <a class="nav-link {% if request.path == "/about/" %} text-decoration-underline active {% endif %}" href=
                "{% url "about:description" %}">О нас</a>
    </div>
    <div class="col-1 text-center nav-item">
        <a class="nav-link {% if request.path == "/catalog/" %} text-decoration-underline active {% endif %}" href=
                "{% url "catalog:item_list" %}">Каталог</a>
    </div>
</div>
