{% load static %}
<div class="navbar border-bottom mb-3">
    <div class="col-1">
        <a href="{% url 'homepage:home' %}">
            <img src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" style="width: 64px; height: 64px;">
        </a>
    </div>
    <div class="col-6"></div>
    <div class="col-1 text-center">
        <a class="nav-link {% if request.path == '/' %} active {% endif %}" href=
                "{% url 'homepage:home' %}">Главная</a>
    </div>
    <div class="col-1 text-center">
        <a class="nav-link {% if request.path == '/about/' %} active {% endif %}" href=
                "{% url 'about:description' %}">О нас</a>
    </div>
    <div class="col-1 text-center">
        <a class="nav-link {% if request.path == '/feedback/' %} active {% endif %}" href=
                "{% url 'feedback:feedback' %}">Связаться</a>
    </div>
    <div class="col-1 text-center">
        <a class="nav-link {% if request.path == '/catalog/' %} active {% endif %}" href=
                "{% url 'catalog:item_list' %}">Каталог</a>
    </div>
    <div class="col-1 text-center">
        {% if user.is_authenticated %}
            <div class="dropdown">
                <a class="btn btn-login btn-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Акаунт
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:password_reset' %}">Сбросить пароль</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:user_list' %}">Все пользователи</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{% url 'users:login' %}">
                <button class="btn btn-login" type="submit">Войти</button>
            </a>
        {% endif %}
    </div>
</div>
