{% extends "base.html" %}

{% block content %}

<h2>{{ item.name }}</h2>
<div class="row text-start">
    <div class="col-3" style="border: 1px solid #000000; border-radius: 3px; height: max-content;">
        <p class="mb-0">Категория: {{ item.category.name|truncatewords:10 }}</p>
        <p class="mb-0">Теги:
            {% for tag in item.tags.all %}
            {% if forloop.first %}
            {{ tag.name|truncatewords:10 }}
            {% else %}
            , {{ tag.name|truncatewords:10 }}
            {% endif %}
            {% endfor %}
        {% if user.is_authenticated %}
            <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn mb-2" type="submit" value="Сохранить" >
            </form>
        {% endif %}
    </div>
    <div class="col-9">
        {{ item.text|safe }}
    </div>
</div>
{% endblock %}